<a href="https://colab.research.google.com/github/Babaralihyd/Assignment-03_python-/blob/main/class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Assignment List Tuples and methods

Basic List Operations

In [ ]:

#1.Create a list of five numbers and append a new number to it. Print the updated list.

Num = [71 ,22,43,84,45]
Num.append(60)
print(Num)

[71, 22, 43, 84, 45, 60]

In [ ]:
#2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

List1 = [1,2,3,]
List2 = [4,5,6]

List1.extend(List2)
print(List1)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript",
# "Ruby"].


string = ["Java", "C++", "JavaScript", "Ruby"]
string.insert(2,"python")
print(string)

['Java', 'C++', 'python', 'JavaScript', 'Ruby']

In [ ]:
# 4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].


numbers = [10 ,20 , 30, 10, 40]
numbers.remove(10)
print(numbers)

[20, 30, 10, 40]

In [ ]:
# 5. Use the pop() method to remove the last element from [100, 200, 300, 400] and
# print the modified list.


numbers = [100, 200, 300, 400]
numbers.pop()
print(numbers)

[100, 200, 300]

Intermediate List Operations

In [ ]:
#6.  Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

numbers = [5, 10, 5, 20, 5, 30]
print(numbers.count(5))

3

In [ ]:
#7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.


list = [9, 1, 8, 3, 5]
list.sort()
print("Ascending order" ,list)
list.sort(reverse=True)
print(" Descending order" ,list)

Ascending order [1, 3, 5, 8, 9]
 Descending order [9, 8, 5, 3, 1]

In [ ]:
# 8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.


fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [ ]:
# 9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the
# copied list and print both lists.

list = [1,2,3,4,5,]
list1 = list.copy()
list1.append(6)
print("Original:", list)
print("Copied:", list1 )

Original: [1, 2, 3, 4, 5]
Copied: [1, 2, 3, 4, 5, 6]

In [ ]:
# 10. Clear all elements from a list [“hello”, “world”, “python”] using the clear()
# method.


list = ["hello", "world", "python"]
list.clear()
print(list)

[]

Tuple-Based Questions

In [ ]:
#11. Create a tuple with 5 different fruits and print the third fruit.

fruits = ("apple", "banana", "cherry", "date", "elderberry")
print(fruits[2])  # Index starts from 0

In [ ]:
# 12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert
# it back into a tuple.

# Given tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 1: Tuple ko List mein convert karna
my_list = list(my_tuple)

# Step 2: List mein se number 30 ko remove karna
my_list.remove(30)

# Step 3: List ko Tuple mein convert karna
update_tuple= tuple(my_list)

# Result print karna
print(update_tuple)

In [ ]:
# 13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you
# modify a tuple indirectly?

# Original tuple
my_tuple = ("A", "B", "C")

# Step 1: Tuple ko List mein convert karna
my_list = list(my_tuple)

# Step 2: List mein element append karna
my_list.append("D")

# Step 3: List ko Tuple mein convert karna
my_tuple_modified = tuple(my_list)

# Result print karna
print(my_tuple_modified)

In [ ]:
# 14. Unpack the tuple (100, 200, 300) into three separate variables and print them.

# Tuple
my_tuple = (100, 200, 300)

# Unpacking the tuple
a, b, c = my_tuple

# Printing the variables
print(a)
print(b)
print(c)

100
200
300

In [ ]:
# 15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).


my_tuple = (7, 1, 7, 3, 7, 5)
count_sevens = my_tuple.count(7)

print(count_sevens)

3

Advanced Problems

In [ ]:
# 16. Write a function that takes a list and returns a new list with all even numbers removed.


def remove_even_numbers(input_list):
    # Using list comprehension to filter out even numbers
    return [num for num in input_list if num % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6]
print(remove_even_numbers(numbers))

[1, 3, 5]

In [ ]:
# 17. Create a function that accepts a list and returns a new list with elements sorted in descending order
# without using the sort() method.

def sort_descending(lst):
    return sorted(lst, reverse=True)

numbers = [5, 4, 6, 3, 9]
sorted_list = sort_descending(numbers)
print(sorted_list)

[9, 6, 5, 4, 3]

In [ ]:
#18. Given a list of numbers, write a program to remove all duplicate elements and print the
# unique elements.


numbers = [1, 2, 2, 3, 4, 4, 5,5,9]
unique_elements  = list(set(numbers))
print(unique_elements)

[1, 2, 3, 4, 5, 9]

In [ ]:
# 19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert
# it into a list, remove duplicates, and convert it back to a tuple

names = ("Alice", "Bob", "Charlie", "Alice", "David")
name_list = list(names)
name_list = list(set(name_list))
names = tuple(name_list)
print(names)

('Alice', 'Charlie', 'David', 'Bob')

In [ ]:
# 20. Create a program that takes a list of mixed data types (int, str, float)
#  and separates integers into one list, strings into another, and floats into another.


mixed_data = [1, "hello", 3.14, 2, "world", 7.5, "Python", "Last Question", 55.7 ,46,78,43.6]


integers = [item for item in mixed_data if isinstance(item, int)]
strings = [item for item in mixed_data if isinstance(item, str)]
floats = [item for item in mixed_data if isinstance(item, float)]

print("Integers:", integers)
print("Strings:", strings)
print("Floats:", floats)

Integers: [1, 2, 46, 78]
Strings: ['hello', 'world', 'Python', 'Last Question']
Floats: [3.14, 7.5, 55.7, 43.6]